::ng-deep {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background: #e53935;
    margin: 8px 0;
    --mdc-snackbar-container-color: none;
  }
}
h3 {
  text-align: center;
  color: #000;
  margin: 0;
}
